<template>
    <q-list>
        <q-item tag="label" v-ripple v-for="i in 4" :key="i">
            <q-item-section side top>
                <q-checkbox size="xs" dense color="teal" />
            </q-item-section>

            <q-item-section>
                <q-item-label dense>Слой {{ i }}</q-item-label>
                <q-item-label caption>
                    Notify me about updates to apps or games that I downloaded
                </q-item-label>
            </q-item-section>
        </q-item></q-list>
</template>
<script setup lang="ts">
import { ref } from 'vue';

</script>
