<template>
    <template v-if="charset && charset.type === 'Splitpanes'">
        <splitpanes @resize="resize" class="full-size-map">
            <pane v-for="ch, key in charset.childrens" :key="key"
              :min-size="20"
              :size="key === 0 ? 20 : 'auto'">
                <q-toolbar class="toolbar text-blue-grey-7">
                    <q-toolbar-title>
                        <menu-selector @select="(element) => { selectComponent(ch, element, 0) }"
                            :initValue="getInitValue(ch.type)" />
                    </q-toolbar-title>
                    <q-btn
                        @click="addPanel(charset, key)"
                        round
                        flat
                        dense
                        color="primary"
                        size="sm"
                        icon="add" />
                    <template v-if="key !== 0">
                        <q-btn
                            @click="removePanel(charset, key)"
                            round
                            flat
                            dense
                            color="primary"
                            size="sm"
                            icon="remove" />
                    </template>
                </q-toolbar>
                <component-builder :componentName="ch.type" />
            </pane>
        </splitpanes>
    </template>
</template>

<script setup lang="ts">
import { ref, defineProps, PropType } from 'vue';
import 'splitpanes/dist/splitpanes.css';
import { Splitpanes, Pane } from 'splitpanes';
import { menuComponents } from '../../store';
import type { MenuItem, CharsetItem } from '../../types/index';
import MenuSelector from '../MenuSelector.vue';
import ComponentBuilder from '../ComponentBuilder/index.vue';

const props = defineProps({
  charset: Object as PropType<CharsetItem | null>,
});

const selectComponent = (charsetElement: CharsetItem, element: MenuItem): void => {
  charsetElement.type = element.component;
};

const getInitValue = (title: string): MenuItem | null => {
  const element = menuComponents.value.find((el: MenuItem) => el.component === title);
  return element || null;
};

const addPanel = (charsetElement: CharsetItem, key: number): void => {
  if (charsetElement.childrens) {
    charsetElement.childrens.splice(key + 1, 0, {
      type: menuComponents.value[0].component,
    });
  }
};

const removePanel = (charsetElement: CharsetItem, key: number): void => {
  if (!charsetElement.childrens) return;
  charsetElement.childrens.splice(key, 1);
};

const resize = (): void => {
  // console.log('resize');
};

</script>
