<template>
    <TreeLayers v-if="componentName === 'TreeLayers'" />
    <Map v-if="componentName === 'Map'" />
    <MapCesium v-if="componentName === 'CesiumMap'" />
</template>
<script setup lang="ts">
import { ref, defineProps } from 'vue';

import TreeLayers from '../TreeLayers/index.vue';
import Map from '../Map/index.vue';
import MapCesium from '../MapCesium/index.vue';

defineProps({
  componentName: String,
});

</script>
