<template>
    <q-btn flat size="md" no-caps padding="0px 5px">
        <q-icon left size="1em" name="map" />
        <div>{{selectElement?.title}}</div>
        <q-menu auto-close>
            <q-list bordered separator style="min-width: 100px">
                <q-item
                    v-for="element, key in menuComponents"
                    :key="key"
                    @click="select(element)"
                    clickable>
                    <q-item-section>
                        <q-item-label overline>{{ element.title }}</q-item-label>
                        <q-item-label>{{ element.subTitle }}</q-item-label>
                    </q-item-section>
                </q-item>
            </q-list>
        </q-menu>
    </q-btn>
</template>
<script setup lang="ts">
import {
  ref, defineProps, defineEmits, onMounted, PropType,
} from 'vue';
import { menuComponents } from '../store';
import type { MenuItem } from '../types/index';

const emit = defineEmits(['select']);
const props = defineProps({
  initValue: Object as PropType<MenuItem | null>,
});

const selectElement = ref<MenuItem>();

const select = (element: MenuItem) => {
  selectElement.value = element;
  emit('select', element);
};

onMounted(() => {
  console.log(props);
  if (props.initValue) {
    selectElement.value = props.initValue;
  }
});

</script>
