// app global css in SCSS form
:root {
    --toobar: 30px;
}

#q-app {
    height: 100vh;
}

.full-size-map {
    height: 100vh;
}


.toolbar{
    border-bottom: 2px solid #ccc;
}

.q-toolbar__title {
    font-size: 14px;
}

.q-toolbar {
    min-height: var(--toobar);
    position: relative;
}

.q-splitter__panel.q-splitter__after.col {
    height: 100vh;
}

.map-container {
    height: calc(100vh - var(--toobar));
}

.map-width {
    width: 100%;
}

.q-item__label{
    font-size: 12px;
}

.splitpanes--vertical>.splitpanes__splitter{
    width: 2px;
    background-color: #ccc;
}