<template>
    <q-page-container class="map-container">
        <div class="map-container map-width">
            <l-map
                ref="map"
                v-model:zoom="zoom"
                :center="[47.41322, -1.219482]"
                :useGlobalLeaflet="false">
                <l-tile-layer
                    url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                    layer-type="base"
                    name="OpenStreetMap"
                ></l-tile-layer>
                <l-geo-json
                    :geojson="geojson"
                    :options-style="styleFunction">
                </l-geo-json>
            </l-map>
        </div>
    </q-page-container>
</template>
<script setup lang="ts">
import 'leaflet/dist/leaflet.css';
import { LMap, LTileLayer, LGeoJson } from '@vue-leaflet/vue-leaflet';

import { ref, computed, onMounted } from 'vue';

const map = ref();
const zoom = ref<number>(12);
const fillColor = ref<string>('#e4ce7f');
const geojson = ref<any>();

const styleFunction = () => () => ({
  weight: 2,
  color: '#ECEFF1',
  opacity: 1,
  fillColor: fillColor.value,
  fillOpacity: 1,
});

onMounted(async () => {
  // this.loading = true;
  const response = await fetch('https://rawgit.com/gregoiredavid/france-geojson/master/regions/pays-de-la-loire/communes-pays-de-la-loire.geojson');
  const data = await response.json();
  geojson.value = data;
  // this.loading = false;
});

</script>
