<template>
  <q-layout view="lHh Lpr lFf" class="map-container">
    <SplitBuilder :charset="charset" />
  </q-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import 'splitpanes/dist/splitpanes.css';
import { Splitpanes, Pane } from 'splitpanes';
import { charset, menuComponents } from '../store';
import type { MenuItem, CharsetItem } from '../types/index';
import MenuSelector from '../components/MenuSelector.vue';
import ComponentBuilder from '../components/ComponentBuilder/index.vue';

import SplitBuilder from '../components/SplitBuilder/index.vue';

const splitterModel = ref<number>(25);
const selectComponent = (charsetElement: CharsetItem, element: MenuItem): void => {
  charsetElement.type = element.component;
};

const getInitValue = (title: string): MenuItem | null => {
  const element = menuComponents.value.find((el) => el.component === title);
  return element || null;
};
</script>
