<template>
    <div ref="map" class="cesium-map"></div>
</template>
<script setup lang="ts">
import { ref, onMounted } from 'vue';

window.CESIUM_BASE_URL = 'http://localhost:9000/Source';
const map = ref();
import 'cesium/Build/Cesium/Widgets/widgets.css';
import {
  Viewer, Cartesian3, Math, Cesium3DTileset, Transforms, HeadingPitchRange, HeadingPitchRoll,
} from 'cesium';

const config = {
  timeline: false,
  animation: false,
  geocoder: false,
  homeButton: false,
  infoBox: false,
  baseLayerPicker: false,
  vrButton: false,
  shouldAnimate: false,
  baseLayer: true,
};

onMounted(async () => {
  const viewer = new Viewer(map.value);

  function createModel(url: string, height: number) {
    viewer.entities.removeAll();

    const position = Cartesian3.fromDegrees(
      38.09073,
      56.33209,
      height,
    );
    const heading = Math.toRadians(135);
    const pitch = 0;
    const roll = 0;
    const hpr = new HeadingPitchRoll(heading, pitch, roll);
    const orientation = Transforms.headingPitchRollQuaternion(
      position,
      hpr,
    );

    const entity = viewer.entities.add({
      name: url,
      position,
      orientation,
      model: {
        uri: url,
      },
    });
    viewer.trackedEntity = entity;
  }

  createModel('./blend/test.glb', 0);

  try {
    /* const tileset = await Cesium3DTileset.fromIonAssetId(1240402);
    viewer.scene.primitives.add(tileset);

    const tileset = await Cesium3DTileset.fromUrl(
      './MetadataGranularities/tileset.json',
    );

    tileset.modelMatrix = Transforms.eastNorthUpToFixedFrame(
      Cartesian3.fromDegrees(-75.152325, 39.94704, 0.0),
    );

    viewer.scene.primitives.add(tileset);
    const offset = new HeadingPitchRange(
      Math.toRadians(-45.0),
      Math.toRadians(-45.0),
      80.0,
    );
    viewer.zoomTo(tileset, offset);
    */
  } catch (error) {
    console.error(`Error creating tileset: ${error}`);
  }
});
</script>
<style >
.cesium-viewer-animationContainer{
  display: none;
}

.cesium-map .cesium-viewer-bottom, .cesium-viewer-timelineContainer{
  display: none;
}
/**/
.cesium-map{
  height: 100vh;
}
</style>
